.item img {
   max-width: 60px;
   border-radius: 50%;
   padding: 5px;

}

.item {
   padding: 10px;
   font-size: 15px;
   width: 100%;
   max-width: 400px;
   border-radius: 5%;
   background: #c4c4c4;
   margin-bottom: 10px;
   display: flex;
   flex-wrap: wrap;
}

.item span {
   padding: 10px;
   font-size: 14px;
}


.message {
   flex: 1 0 70%;
   padding: 10px;
   justify-content: center;
   align-items: center;
   display: flex;
}