.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
   padding: 10px;
}

.dialogAvatar {
   width: 100px;
   border-radius: 50%;
}

.active {
   color: rgb(0, 0, 255);
   background: red;
}

.dialog {
   display: flex;
   flex-direction: column;
   column-gap: 10px;
   align-items: center;
   border: 1px solid red;
   padding: 10px;
}